main
{
	background:#f1f3f6;
}

body
{
	background:#f1f3f6 !important;
}

/*---Header---*/

header
{
	position:sticky;
	top:0;
}


.header_container
{
	padding: 10px 26px 10px 30px;
}

.header_search 
{
	width:30vw;
	height:35px;
}

.header_search input
{
	border:none;
	width:95%;
}

.header_search input:focus
{
	outline:none;
}

.header_seller span
{
	white-space:nowrap;
}

.header_login
{
	height:35px;
	
}

.header_login:hover
{
	background-color:blue;
	
}

.header_login:hover span
{
	color:white;
	
}

.header_dots
{
	border:1px solid transparent;
} 

.header_dots:hover
{
	border:1px solid #dfdbdb;
}

/*----Main---*/


.main_top div
{
	font-size:14px	
}

.left_cont
{
    font-size: 14px;
    line-height: 3;
}

.sroll_box
{
    max-height:540px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 23vw;
}

.r_c_head
{
    width:95%;
}

.r_c_head span
{
    font-size: 12px;
    opacity:0.7;
}

.r_c_body
{
    width:95%;
}

.issue_item_img
{
    height:80px;
    width:70px;
}

.issue_item_img img
{
    height:100%;
    width:100%;
}

.issue_item_txt .text_1
{
    font-size: 14px;
}

.issue_item_txt .text_2
{
    font-size: 14px;
    color: #878787;
}

.green_dot
{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #008000;
    margin: 11px 0px 0px 0px;
}

.issue_item:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btm_box .txt_1
{
    font-size: 14px;
}

.btm_box .txt_2
{
    font-size: 12px;
    color: #878787;
}

.btm_box img
{
    transform: rotate(270deg);
}

.btm_box:hover
{
    background-color: #f1f3f6;
}

.main_btm
{
	color: #878787;
}


/*----Footer----*/

footer 
{
	height:53vh;
	line-height: 18px;
    bottom:0;	
}

footer a
{
	font-size:12px;
}

footer span
{
	color:#878787;
	font-size:12px;
}


footer p
{
	font-size:12px;
	line-height:18px;
}

.second_3_1
{
	width:15vw;	
}

.second_3_2
{
	line-height:18px;
	border-left:1px solid grey;	
}

.product_details a
{
	text-decoration:none;
	color:	#808080;
}

p
{
	font-size:12px;
}

.product_details 
{
	background-color:#F0F0F0;
}

.footer_container_2
{
	border-top:1px solid grey;
}


